# See https://atom.io/docs/latest/creating-a-package#menus for more details

'context-menu':
  '.tree-view.full-menu':
    'Open terminal here': 'open-terminal-here:open-terminal-menu'
  '.overlayer':
      'Open terminal here': 'open-terminal-here:open-terminal-editor'
